
// ion-toolbar{
//     --ion-background-color: rgb(102, 94, 211);
// }`

ion-header{
    --ion-background-color: rgb(55, 51, 114);
   
}

ion-title{
    color: white;
}

ion-content {
	--overflow: hidden;
    text-align: center;
    --ion-background-color: rgb(102, 94, 211);
}

ion-card{
    top:25px;
    background-color: white;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

ion-radio{
    background-color: white;
}

ion-label{
    background-color: white;
}

ion-item{
    background-color: white;
}

.options{
    background-color: white;
}
.line{
    position: absolute;
    width: 432px;
    height: 365px;
    left: 80px;
    top: 200px;
    
    // opacity: 0.4;
    // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }