<ion-content>
  <ion-header no-border>
    <div class="register-header">
      <img class="logo-img" src="assets/logo2.svg">
    </div>
  </ion-header>
  <div><img class="line" src="assets/Vector.svg"></div>
  <ion-grid fixed>	
  <ion-card fullscreen class="cardregister" >
    <div class="loginw"><img class="registerword" src="assets/REGISTER.svg"></div>
  
      <div class="item-register">
  
      <ion-item color="white" class="username">
      <ion-label fill="solid"class="lock"><ion-icon name="people"></ion-icon></ion-label>
      <ion-input type="text" [(ngModel)]="username"></ion-input>
      </ion-item>
  
      <ion-item color="white" class="password">
      <ion-label class="lock" ><ion-icon name="lock"></ion-icon></ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
  
      <ion-item color="white" class="confirmpassword">
      <ion-label position="floating" color="primary"> Confirm Password</ion-label>
      <ion-input type="password" [(ngModel)]="cpassword"></ion-input>
      </ion-item>
  
  
  
      <ion-button class="registerbutton" fill="solid" expand="block" color="dark" (click)="register()">Sign Up</ion-button>
  
  
    </div>
  
  </ion-card>
  
  </ion-grid>
  </ion-content>